<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css"/>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
